*{
  margin: auto;
  border: none;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50PX;
    
    color: rgb(255, 187, 0);
    
}
body{
    background-color: black ;
    text-align: center;
     
}
.container{
    margin-top: 100px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 10px 2px rgb(255, 187, 0);
  font-size: 10vmin;
  color: rgb(171, 71, 247);
  background-color: rgba(201, 247, 117, 0.979);
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
#reset{
    margin-top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 187, 0);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(255, 187, 0);
    cursor: pointer;
}
.congo{
  padding-top: 10PX;
    font-size: 30px;
    color: rgb(255, 0, 0);
    text-shadow: rgb(230, 143, 143) 1px 0 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;    
}
#new-button{
    margin-top: 20px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 217, 0);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(255, 187, 0);
    cursor: pointer;
  }